:root{ 
    --width1: 65vh;
    --height: 70vh
}
body{
    background-color: rgb(221, 200, 134);
    
    font-family: "Rubik Doodle Shadow", system-ui;      
    color: red;
    font-weight: 350;
    font-style: normal;
      
      

}
#start-dialog{
    background-color: black;
    opacity: 0.7;
    border: transparent;
    border-radius: 10px;
    height: 40vh;
    text-align: center;
}
#statement{
    color:white;
}
#msg{
    color: rgb(250, 250, 250);
    padding-bottom: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
#play{
    border: 1px solid transparent;
    color: rgb(8, 7, 7);
    background-color: aliceblue;
    font-size: 30px;
    padding: 10px;
    
}
P{
    color: rgb(13, 12, 11);
}
sup{
    font-size: 10px;
    
}
h1{
    text-align: center;
    font-size: 60px;

}
#signature{
    position:absolute;
    left: 0px;
    bottom: 1px;
    font-size: 12px;
    font-family:  cursive;

}
#turn{
    margin: 0 auto;
    width: 500px;
    font-size: 30px;
    font-family: "Marck Script", cursive;
    text-align: center;
   

}
#heading{
    border-bottom: 1px solid black;
    position: absolute;
    left:1px;
}
.bar-button{
    background-color: rgb(138, 138, 212);
}
#d-button{
    width: 30vw;
    height: 30vw;
    margin: 0 auto;
    border: 2px solid transparent;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
    


}
.btn{
    width: 33%;
    height: 33%;
    font-size: 100px;
    background: rgb(142, 113, 81);
    color: rgba(238, 244, 239, 0.439);
    border: 1px solid white;
    border-radius: 10px;

    
}
.btn:disabled{
    background: rgb(234, 199, 2);
}
#end-dialog{
    border: 1px solid transparent;
    width: 30vw;
    height: 20vh;
    background: rgb(231, 4, 4);
    text-align: center;
    font-size: large;
    border-radius: 15px;
}
#restart{
    background-color: rgb(226, 148, 148);
    border:1px groove transparent;
    font-family: "Marck Script", cursive;

}

@media only screen and (min-width: 768px){#d-button{
    
    width: 450px;
    height: 450px;
   
    
    
}
.btn{
    font-size: 60px;  
}
#msg{
    font-size: 18px;  
}
}




